######################################
# ---------- Misc Files ------------ #
######################################

.DS_Store
.vscode

######################################
# --------- MPLab Files ------------ #
######################################
# Ignoring files according to https://microchipdeveloper.com/mplabx:version-control-working-with
software/*.d
software/*.pre
software/*.p1
software/*.lst
software/*.sym
software/*.obj
software/*.o
software/*.sdb
software/*.obj.dmp
software/*.mk
software/*.map
software/*.properties
software/*.production
software/*.debug
software/board_test/html/
software/board_test/nbproject/private/
software/board_test/nbproject/Package-*.bash
software/board_test/build/
software/board_test/nbbuild/
software/board_test/dist/
software/board_test/nbdist/
software/board_test/nbactions.xml
software/board_test/nb-configuration.xml
software/board_test/funclist
software/board_test/nbproject/Makefile-*
software/board_test/disassembly/
software/board_test/.generated_files/
software/smart_lamp_se/html/
software/smart_lamp_se/nbproject/private/
software/smart_lamp_se/nbproject/Package-*.bash
software/smart_lamp_se/build/
software/smart_lamp_se/nbbuild/
software/smart_lamp_se/dist/
software/smart_lamp_se/nbdist/
software/smart_lamp_se/nbactions.xml
software/smart_lamp_se/nb-configuration.xml
software/smart_lamp_se/funclist
software/smart_lamp_se/nbproject/Makefile-*
software/smart_lamp_se/disassembly/
software/smart_lamp_se/.generated_files/
software/web_interface/target/
software/web_interface/.idea/
software/web_interface/Cargo.lock

######################################
# --------- Kicad Files ------------ #
######################################

# Kicad lock and autosaves
electronics_design/#auto_saved_files#
electronics_design/*.lck

# Temporary files
electronics_design/*.000
electronics_design/*.bak
electronics_design/*.bck
electronics_design/*.kicad_pcb-bak
electronics_design/*.kicad_sch-bak
electronics_design/*-backups
electronics_design/*.kicad_prl
electronics_design/*.sch-bak
electronics_design/*~
electronics_design/_autosave-*
electronics_design/*.tmp
electronics_design/*-save.pro
electronics_design/*-save.kicad_pcb
electronics_design/fp-info-cache

# Netlist files (exported from Eeschema)
electronics_design/*.net

# Autorouter files (exported from Pcbnew)
electronics_design/*.dsn
electronics_design/*.ses

# Exported BOM files
electronics_design/*.xml
electronics_design/*.csv
